//Variables

$buttonBgColor: #000000;
$buttonTextColor: #ffffff;
$buttonFontSizeSm: 12px;

button {
  background-color: $buttonBgColor;
  color: $buttonTextColor;
  font-family: "manroperegular";
  text-transform: uppercase;
  border: none;
  padding: 10px;
  font-size: $buttonFontSizeSm;
  width: 100%;
}

.wp-block-buttons {
  font-family: "manroperegular";
  text-transform: uppercase;
  color: black;
  padding: 10px 0 40px 0;
}

.wp-block-button__link {
  color: black !important;
}

.newsletter {
  button {
    background-color: #e3e3e3;
  }
}
