//Variables

$buttonBgColor: #000000;
$buttonTextColor: #ffffff;
$buttonFontSizeSm: 12px;
$limeGreen: #71f049;

button {
  background-color: $buttonBgColor;
  color: $buttonTextColor;
  font-family: "manroperegular";
  text-transform: uppercase;
  border: none;
  padding: 10px;
  font-size: $buttonFontSizeSm;
  width: 100%;
}

.wp-block-buttons {
  font-family: "manroperegular";
  text-transform: uppercase;
  color: black;
  padding: 10px 0 40px 0;
}

.wp-block-button__link {
  color: black !important;
}

.black {
  background-color: #000;
}

.close_newsletter {
  cursor: pointer;
}
.active_link {
  color: $limeGreen !important;
}

.newsletter {
  button {
    background-color: #e3e3e3;
  }
}
