//Generelle indstillinger

.cart_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.shoppingcart_total {
  flex-basis: 300px;
  flex-grow: 1;
  background-color: rgb(141, 141, 207);
}
.product {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: pink;
}
.discountbox_container {
  display: flex;
}
.discountbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 3rem;
  margin-right: 10px;
  background-color: yellow;
}

.discountbox_button {
  background-color: red;
  padding: 10px 40px;
}

.products {
  flex-basis: 600px;
  flex-grow: 2;
}

.deleteFromCart_button {
  position: absolute;
  right: 2vw;
  bottom: 1vw;
}

.products-container {
  // max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.cart_add_subtract {
  display: flex;
  border: 1px solid black;
}

.cartbuttons {
  margin: 0 10px 0 10px;
}

.product-header {
  width: 100%;
  // max-width: 650px;
  display: flex;
  justify-content: flex-start;
}

.product-title {
  width: 40%;
}

.price {
  width: 15%;
  display: flex;
  align-items: center;
}

.quantity {
  width: 16.5%;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  display: flex;
  align-items: center;
}

.cart_product_image {
  width: 10%;
}
/* MOBILE WEBSHOP START  */
#products {
  display: flex;
  flex-wrap: wrap;

  img {
    filter: contrast(95%);
  }

  .col {
    flex-grow: 1;
    flex-basis: 120px;
    margin: 4vw;
    cursor: pointer;
  }

  .product_article {
    position: relative;
  }

  .product_image_container {
    z-index: 500;
  }

  .product_heart_container {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2vw;
    left: 2vw;
    cursor: pointer;
    z-index: 1000;
  }

  .product_morecolors {
    position: absolute;
    top: 2vw;
    right: 2vw;
    font-size: 8px;
  }

  .product_quick_info {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin-top: -1vw;
    padding: 3vw 2vw 2vw 2vw;
  }
}
/* MOBILE WEBSHOP END  */
/* MOBILE SINGLEVIEW START */
#singleProduct {
  margin: 4vw;
  .color_picker {
    display: flex;
  }
  img {
    filter: contrast(95%);
  }
  .product_name,
  .product_price {
    margin-top: 3vw;
  }

  .product_color {
    display: none;
  }

  .add_to_cart_button {
    margin-top: 5vw;
  }

  .cc {
    margin-top: 20px;
  }

  .colorbox {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 10px;
  }
  .mobile_heart_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .mobile_singleview_heart {
    width: 8%;
    margin-top: 3vw;
  }

  .carousel {
    padding: 0;

    margin: 0 auto;
    display: block;
  }

  .caro_imgs {
    width: 100%;
  }

  .all_product_images_container {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }

  .all_product_images_container section {
    scroll-snap-align: start;
  }

  .carousel_inner {
    display: flex;
  }
}
/* MOBILE SINGLEVIEW END */

.wishlist_icon img {
  width: 2%;
}

.singleview_heart {
  width: 5%;
}

figure img {
  height: auto;
}

.hide {
  display: none;
}

/* CART START */
#cart {
  .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .col {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 100px;
  }
}
/* CART END */

/* CONTACT START */
.form {
  width: 100%;
  height: 500px;
  background-color: blue;
}

#contact .inner_col {
  display: flex;
}
#landingpage_splash {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  .splash_title {
    position: absolute;
    top: 40%;
    left: 10%;
  }

  #slideshow_wrap {
    overflow: hidden;
    width: 100vw;
  }

  .slideimage_wrapper {
    display: flex;
    // animation: slide 30s infinite linear;
  }
  #slideshow_wrap img {
    flex-basis: 300px;
    flex-grow: 1;
  }

  // @keyframes slide {
  //   0% {
  //     transform: translateX(300px);
  //   }
  //   100% {
  //     transform: translateX(-3000px);
  //   }
  // }

  // @media only screen and (min-width: 768px) {
  //   #slideshow_wrap img {
  //     width: 60%;
  //   }
  //   @keyframes slide {
  //     0% {
  //       transform: translateX(500px);
  //     }
  //     100% {
  //       transform: translateX(-3800px);
  //     }
  //   }
  // }
  @media only screen and (min-width: 1200px) {
    #slideshow_wrap img {
      width: 50%;
      padding: 140px;
    }
    .slideimage_wrapper {
      animation-duration: 40s;
    }

    @keyframes slide {
      0% {
        transform: translateX(800px);
      }
      100% {
        transform: translateX(-5000px);
      }
    }
  }
}

#landingpage {
  /******************** MOBIL LANDING PAGE START ********************/
  display: flex;
  flex-wrap: wrap;
  margin: 30px;

  #most_wanted {
    flex-basis: 200px;
    flex-grow: 1;
    padding: 0 30px 30px 30px;
  }

  #lp_discover {
    flex-basis: 400px;
    flex-grow: 2;
    padding: 0 30px 30px 30px;
  }

  #discover {
    // flex-basis: 400px;
    // flex-grow: 2;
    // padding: 0 30px 30px 30px;

    .landingpage_discover_article {
    }

    .lp_discover_container {
      position: relative;
    }
    .lp_discover_info {
      position: absolute;
      bottom: 2vw;
      left: 1vw;
    }
  }

  #whoruntheworld {
    flex-basis: 300px;
    flex-grow: 1.5;
    padding: 0 30px 30px 30px;
    // .wp-block-group__inner-container p {
    //   max-width: 300px;
    // }
  }
  /******************** MOBIL LANDING PAGE END ********************/

  /******************** IPAD LANDING PAGE START ********************/
  /******************** IPAD LANDING PAGE END ********************/

  /******************** DESKTOP LANDING PAGE START ********************/
  /******************** DESKTOP LANDING PAGE END ********************/
}

.wishlist_products {
  display: flex;
  flex-wrap: wrap;
}

.wishlist_product {
  flex-basis: 200px;
  flex-grow: 1;
  max-width: 500px;
}

.wishlist_product img {
  width: 50%;
}

.wishlist_image_container {
  position: relative;
}

.removeFromWishlist_button {
  position: absolute;
  bottom: 0;
  right: 2vw;
  cursor: pointer;
}

.removeFromWishlist_button img {
  width: 100%;
}

// COMMUNITY

/****************** IPAD START ******************/
@media only screen and (min-width: 768px) {
  /* WEBSHOP IPAD START */
  #products {
    margin: 1vw;
    .col {
      flex-basis: 180px;
      margin: 2vw 1vw;
    }
    .product_morecolors {
      font-size: 9px;
    }

    /* WEBSHOP IPAD END */
  }
  /* PRODUCT SINGLE VIEW IPAD START */
  #singleProduct {
    .all_product_images_container {
      flex-direction: column;
    }
    .sectionwrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .col {
      flex-basis: 200px;
      flex-grow: 1;
      margin: 2vw;
    }
    .imgs {
      margin-bottom: 2vw;
    }

    .product_description {
      margin-top: 2vw;
    }

    .colorbox {
      width: 30px;
      height: 30px;
      // margin-right: 5px;
      // margin-top: 10px;
    }

    .add_to_cart_button {
      margin-top: 3vw;
    }
    /* PRODUCT SINGLE VIEW IPAD START */
  }

  /****************** IPAD END ******************/
}

/****************** DESKTOP START ******************/
@media only screen and (min-width: 1200px) {
  /*  Webshop desktop start */
  #products {
    .col {
      flex-basis: 400px;
    }

    .product_heart_container {
      width: 25px;
      height: 25px;
    }
    .product_morecolors {
      font-size: 10px;
    }
    /*  Webshop desktop end */
  }

  /****************** DESKTOP END ******************/
}
