.shipping_popUp {
  width: 100%;
  height: 50px;
  border-bottom: 0.5px solid rgb(88, 88, 88);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 9999999;
  background-color: #fff;
}

.cookie_popUp {
  width: 100%;
  height: 90px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-left: 50px;
  // padding-right: 50px;
  position: fixed;
  bottom: 0px;
  left: 0;
  animation: slideUp 1s ease 0s 1 normal forwards;
}

.slideDown {
  animation: slideDown 2s ease 0s 1 normal forwards;
}

.cookie_button {
  cursor: pointer;
  background-color: #000;
  padding: 5px 10px;
  margin-right: 30px;
}

.cookie_button p {
  color: white;
}

.cookie_popUp p {
  padding: 6px;
  font-size: 10px;
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(300px);
  }
}

@media only screen and (min-width: 1200px) {
  .shipping_popUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
