* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// ul,
// li {
//   margin: 0;
//   padding: 0;
// }

html {
  scroll-behavior: smooth;
  //   scroll-snap-type: y mandatory;
}

body {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
