//Variables

//Mobile font sizes
$textFontSizeSm: 12px;
$h1FontSizeSm: 18px;
$h2FontSizeSm: 16px;
$menuLinksSm: 16px;

//Ipad font sizes
$h1FontSizeIpad: 20px;
$h2FontSizeIpad: 18px;
$textFontSizeIpad: 13px;

//Desktop font sizes
$textFontSizeDesktop: 14px;

//General
$h1FontWeight: 500;
$h2FontWeight: 400;
$limeGreen: #71f049;

h1,
h2,
h3,
h4,
a {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: $h1FontSizeSm;
  font-weight: $h1FontWeight;
}

h2 {
  font-size: $h2FontSizeSm;
  font-weight: $h2FontWeight;
}

h3 {
}

h5 {
  font-family: "manropeextralight";
  text-transform: uppercase;
}

h4 {
  font-weight: 300;
}

p {
  font-family: "manropelight";
  font-size: $textFontSizeSm;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: $menuLinksSm;
}

.breadcrumb {
  a {
    font-family: "manropeextralight";
    text-transform: none;
    font-size: $textFontSizeSm;
  }
}

.related_products {
  h3,
  p {
    font-family: "manropeextralight";
    font-size: 10px;
  }
}

.shipping_popUp p {
  font-size: 10px;
  color: $limeGreen;
}

#filter-menu {
  .fm_label,
  li {
    font-size: $textFontSizeSm;
    font-family: "manropeextralight";
  }
}

#menu {
  .label {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.menuheart span,
.menucart span {
  font-family: "manropeextralight";
  font-size: 0.8em;
}

footer {
  .footer_h1 {
    font-size: 12px !important;
    padding-bottom: 10px;
  }

  p,
  a {
    font-size: 11px;
    font-family: "manropeextralight";
  }

  a {
    text-transform: none;
  }
}

#landingpage {
  a {
    font-family: "manroperegular";
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: $limeGreen;
  }
  #discover {
    h2 {
      color: white;
      margin-bottom: 2px;
      text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.05);
    }

    p {
      color: white;
      margin-bottom: 10px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
  }
}

#landingpage_splash {
  .splash_title {
    color: #71f049;
    font-size: 20px;
  }
}
/* WEBSHOP START */
#products {
  h3,
  p {
    font-family: "manropeextralight";
    font-size: 10px;
  }

  /* WEBSHOP END */
}

#information {
  h3 {
    color: white;
    font-size: 14px;
    padding: 0px 40px 0px 40px;
    font-weight: 400;
  }
}

/****************************************  IPAD TYPOGRAPHY START  ****************************************/
@media only screen and (min-width: 768px) {
  h1 {
    font-size: $h1FontSizeIpad;
  }

  h2 {
    font-size: $h2FontSizeIpad;
  }

  p {
    font-size: $textFontSizeIpad;
    line-height: 1.8;
  }

  a {
    font-size: $textFontSizeIpad;
  }

  #information {
    .left-column {
      a {
        font-size: $h1FontSizeIpad;
        transition: color 0.3s ease;
      }
    }

    h1 {
      font-size: 15px;
    }
  }

  #nav a {
    font-size: $menuLinksSm;
  }

  #products {
    h3,
    p {
      font-size: 11px;
    }
  }
  #landingpage_splash {
    .splash_title {
      font-size: 3rem;

      color: $limeGreen;
    }
  }
}
/****************************************  IPAD TYPOGRAPHY END  ****************************************/

/****************************************  DESKTOP TYPOGRAPHY START  ****************************************/
@media only screen and (min-width: 1200px) {
  #filter-menu {
    .fm_label,
    li {
      font-size: $textFontSizeDesktop;
      font-family: "manropeextralight";
    }
  }
  #singleProduct {
    .specifications {
      .sv_contentBx .sv_label {
        font-size: $textFontSizeDesktop !important;
      }
    }
  }

  p {
    font-size: $textFontSizeDesktop;
    line-height: 1.8;
  }

  #landingpage_splash {
    .splash_title {
      font-size: 5.6rem;
      color: black;
      font-weight: 600;
    }
  }

  #products {
    h3,
    p {
      font-size: 12px;
    }
  }
}

/****************************************  DESKTOP TYPOGRAPHY END  ****************************************/
