h1,
h2,
h3,
h4 {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  text-transform: uppercase;
}

h5 {
  font-family: "manropeextralight";
  text-transform: uppercase;
}

h4 {
  font-weight: 100;
  text-transform: uppercase;
}

p {
  font-family: "manroperegular";
}
