//Variables
$textFontSizeSm: 12px;
$headingFontSizeSm: 18px;
$limeGreen: #71f049;

h1,
h2,
h3,
h4,
a {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

h5 {
  font-family: "manropeextralight";
  text-transform: uppercase;
}

h4 {
  font-weight: 100;
  text-transform: uppercase;
}

p {
  font-family: "manropelight";
  font-size: $textFontSizeSm;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

#menu {
  .label {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.menuheart span,
.menucart span {
  font-family: "manropeextralight";
  font-size: 0.8em;
}

footer {
  .footer_h1 {
    font-size: 12px !important;
    padding-bottom: 10px;
  }

  p,
  a {
    font-size: 11px;
    font-family: "manropeextralight";
  }

  a {
    text-transform: none;
  }
}

#landingpage {
  a {
    font-family: "manroperegular";
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: $limeGreen;
  }
  #discover {
    h2 {
      color: white;
    }

    p {
      color: white;
    }
  }
}

#landingpage_splash {
  .splash_title {
    color: #71f049;
    font-size: 20px;
  }
}
/* WEBSHOP START */
#products {
  h3,
  p {
    font-family: "manropeextralight";
    font-size: 10px;
  }

  /* WEBSHOP END */
}

/****************************************  IPAD TYPOGRAPHY START  ****************************************/
@media only screen and (min-width: 768px) {
  #products {
    h3,
    p {
      font-size: 11px;
    }
  }
}
/****************************************  IPAD TYPOGRAPHY END  ****************************************/

/****************************************  DESKTOP TYPOGRAPHY START  ****************************************/
@media only screen and (min-width: 1200px) {
  #landingpage_splash {
    .splash_title {
      font-size: 5rem;
      color: $limeGreen;
    }
  }

  #products {
    h3,
    p {
      font-size: 12px;
    }
  }
}

/****************************************  DESKTOP TYPOGRAPHY END  ****************************************/
